@font-face {
    font-family: "Gilroy-Bold";
    src: local("Gilroy"),
    local("Gilroy"),
    url(./fonts/gilroy/Gilroy-Bold.woff) format("woff"),
    url(./fonts/gilroy/Gilroy-Bold.eot) format("eot"),
    url(./fonts/gilroy/Gilroy-Bold.ttf) format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: local("Gilroy"),
    local("Gilroy"),
    url(./fonts/gilroy/Gilroy-Medium.woff) format("woff"),
    url(./fonts/gilroy/Gilroy-Medium.eot) format("eot"),
    url(./fonts/gilroy/Gilroy-Medium.ttf) format("ttf");
    font-weight: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0px 30px 0px 30px ;
}



.header__button{
    display: none;
    height: 25px;
    overflow: hidden;
}

.burger{
    display: flex;
    border: 1px solid black;
    width: 33px;
    height: 10px;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 50%)
}

.line{
    stroke-width: 1px;
    stroke: #828282;
}

.main__box{
    margin: 0 auto;
    
}

.beginning{
    box-sizing: content-box;
    margin: 0 auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 33px 0px 32px 0px;
    
}

a{
    color: #828282;
    font-family: Gilroy-Bold ;
    font-size: 18px;
    line-height: normal;
    text-decoration: none;

}

.home__button{
    color: #070707;
}

.denis{
    color:  #070707;
    font-family: Gilroy-Bold;
    font-size: 47.339px;
    width: 123.513px;
}

.ux{
    display: flex;
    color:  #070707;
    font-family: Gilroy-Medium;
    font-size: 18px;
    width: 155.646px;
    height: 44.065px;
    padding-top: 63px;
    }

.box__text{
    display: flex;
    justify-content: space-between;
    margin-bottom:  50px;
    margin-top: 40px;
    
}

.about__box{
    background-color: #F6F6F6;
    height: 506px;
    margin: 0 auto;
    width: 100%;
}

.about__me{
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    border: #F6F6F6;
    background-color: #F6F6F6;
    height: 506px;
    
    

}

.about__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title{
    padding-bottom: 90px;
}

h2{
    color:  #070707;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 34px;
    width: 155.646px;
    height: 43.063px;

}

.about__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #070707;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    height: 218px;
    
}

.skills{
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 70px 0px 110px 0px;
}

.skills__title{
    margin-bottom: 45px;
}

.work{
    width: 227.946px;
    height: 24.035px;
    color: #070707;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    margin-bottom: 45px;
    
}

.programm{
    display: flex;
    gap: 80px;


}

.icons{
    display: block;
    margin: 0 auto;

}



.adobe__skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 166px;
    gap: 24px;
    


}

.adobe__text{
    width: 70.292px;
    color: #828282;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;

}

.adobe__after__text{
    width: 79px;
    color: #828282;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;
}



.star{
    display: flex;
    justify-content: space-between;
    width: 166.461px;
    

}

.portfolio{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 112px 30px 96px 30px;
}

.portfolio__title{
    margin-bottom: 43px;
}

.fashion__store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 99px;


}

.img__fashion{
    margin-bottom: 43px;
}

.text__fashion{
    max-width: 276.146px;
    height: 22.032px;
    color: var(--Black, #070707);
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    text-decoration-line: underline;

}

.reebok__web{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 99px;

}

.reebok__img{
    margin-bottom: 43px;
    

}

.reebok__text{
    max-width: 202.842px;
    height: 22.032px;
    color:  #070707;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    text-decoration-line: underline;
}

.braun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.braun__img{
    margin-bottom: 43px;
    
    

}

.braun__text{
    color: #070707;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    max-width: 259.075px;
    height: 22.032px;
    
}

.img__denis{
    object-fit: cover;
    width: 100%;

}


.portfolio__photo{
    max-width: 940px;
    width: 100%;
    object-fit: cover;
}



.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 114px 0px 123px 0px;

}

.contacts__title{
    width: 145.604px;
    height: 43.063px;
    color: #070707;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 34px;
    margin-bottom: 20px;

}

.contacts__text{
    max-width: 275.142px;
    height: 44.065px;
    color: var(--Black, #070707);
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    margin-bottom: 29px;

}


.contacts__button{
    width: 180.5px;
    height: 42px;
    border-radius: 30px;
    background-color: #070707;
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 18px;
    margin-bottom: 93px;
    

}

.contacts__button:hover{
    background: #70C05B;
    color: #fff;
}

.social__network{
    display: flex;
    justify-content: space-between;
    width: 263px;
    margin-bottom: 46px;

}

.contacts__text2{
    max-width: 243.009px;
    height: 34.05px;
    flex-shrink: 0;
    color: #828282;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 14px;
    
}


@media (max-width: 900px) and (min-width: 500px) {
    .programm{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .skills{
        height: 100%;
    }
    
}

@media (max-width: 500px) {
    .navigation{
        display: none;
    }

    .line{
        display: none;
    }

    .header__button{
        display: block;
        position: absolute;
        right: 30px;
        top: 68px

    }

    .box__text{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 26px;
        
    }

    .ux{
        margin-bottom: 37px;
    }

    .programm{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .skills{
        height: 100%;
    }

    .about__box{
        padding: 0px 30px 0px 30px;
    }

    


}

@media (max-width: 300px) {
    .social__network {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}